{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary active" role="button" aria-pressed="true">Back</a>
         <button type="submit" class="btn btn-primary">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}










